

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="scss/main.scss">
    <link rel="stylesheet" href="scss/animate.scss">

    <title>more</title>
    <style>
    .jumbotron {width: 100%;height: 250px;}
        .jumbotron h2 {padding-bottom: 0;}
    </style>
</head>

<body>
    <header class="header bg">
        <div class="container text-white">
            <div class="row">
                <div class="col-sm-4 col-12 align-self-center box-1 text-center">
                    <a class="navbar-brand" href="/home"><img src="../images/header-logo.png" alt="RECI-BOOK"></a>
                </div>
                
            </div>
            <!--/row-->
        </div>
        <!--container-->
    </header>
    <span class="position-absolute trigger"><!-- hidden trigger to apply 'stuck' styles --></span>
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/recipes-search">recipes</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--container end-->
    </nav>
    <!--Section-1-->
    <section class="section-1">
        <div class="jumbotron d-flex align-items-center">
            <div class="gradient"></div>
            <div class="container-fluid content">
                <h1 data-aos="fade-right" data-aos-delay="300">Create a Recipe</h1>
            </div>
            <!--container-fluid end-->
            
        </div>
        <div class="grid-ingredient">
            <div class="grid-input-ingredient">
            
                <form [formGroup]="createForm" class="form">
                    <h1>Add new type of Ingredient</h1>
                    <h4>Type the name of the ingredient below</h4>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            Type Ingredient Name
                        </mat-label>
                        <input matInput placeholder="Ingredient Name" formControlName="ingredient_name" />
                    </mat-form-field>
                    <h4>Type the price of the ingredient below</h4>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            Type Ingredient Price
                        </mat-label>
                        <input matInput placeholder="Ingredient Price" formControlName="ingredient_price" />
                    </mat-form-field>
                    <button mat-raised-button (click)="addIngredient()">
                        Add Ingredient
                    </button>
                </form>
            </div>
            <div class="Recipes-List">
                <form [formGroup]="searchForm" class="form">
                    <mat-form-field appearance="outline">
                        <mat-label>
                            Search Ingredient Name
                        </mat-label>
                        <input matInput placeholder="Ingredient-name" formControlName="ingredient_name" />
                    </mat-form-field>
                    <button mat-raised-button (click)="search()">
                        Search
                    </button>
                </form>
                <h4 style="margin-left: 5px;">Click Ingredient name to add to Recipe Ingredients</h4>
                <div class="example-container mat-elevation-z8" style="margin-bottom: 15px;">
                    
                    <mat-table #table [dataSource]="dataSource">
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-raised-button (click)="add(element.name)">
                            {{element.name}}
                            </button>
                        </mat-cell>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="price">
                        <mat-header-cell *matHeaderCellDef> price </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.price}} lei </mat-cell>
                      </ng-container>
    
                      <mat-header-row *matHeaderRowDef="displayedColumns_ingredient"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns_ingredient;"></mat-row>
                    </mat-table>
                    
                </div>
                <h4 style="margin-left: 5px;">Click Ingredient name to remove from Recipe Ingredients</h4>
                <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="dataSourceAdded">
                  
                        <!-- Position Column -->
                        <ng-container matColumnDef="name">
                          <mat-header-cell *matHeaderCellDef> name </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                              <button mat-raised-button (click)="remove(element.name)">
                              {{element.name}}
                              </button>
                          </mat-cell>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="price">
                          <mat-header-cell *matHeaderCellDef> price </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.price}} lei</mat-cell>
                        </ng-container>
                      
                        <mat-header-row *matHeaderRowDef="displayedColumns_ingredient"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns_ingredient;"></mat-row>
                      </mat-table>
    
                    
                  
                  </div>
            </div>
        </div>
         
        <div class="grid-prev-next">
            <button  mat-raised-button routerLink="/recipe-create2">
                Prev
            </button>
            <button  style="margin-left:15px;" mat-raised-button routerLink="/recipe-create4" (click)="createTables()">
                Next
            </button>
        </div>
    </section>
    
    <section class="section-7">
        <!-- Footer -->
        <footer class="page-footer font-small stylish-color-dark">
 
            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">


                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-lg-2 col-sm-4 box-2 mx-auto">

                        <!-- Links -->
                        

                        

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-lg-2 col-sm-4 box-3 mx-auto">

                        <!-- Links -->
                        <h5 class = "cc">Site Navigation</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="index.html">go to home</a>
                            </li>
                            <li>
                                <a href="services.html">log out</a>
                            </li>
                            <li>
                                <a href="portfolio.html">profile</a>
                            </li>
                            <li>
                                <a href="blog.html">about us</a>
                            </li>
                            <li>
                                <a href="contact.html">recipes</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-lg-2 col-sm-4 box-4 mx-auto">

                        <!-- Links -->
                        

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->
        </footer>
        <!-- Footer -->
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/animate.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>
